body {
  background: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.card {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background: purple;
}
